In [1]:
import pandas as pd

In [2]:
# Read data from file
df = pd.read_csv('adult.data.csv')

In [3]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
df.pivot_table(columns=['race'], aggfunc='size')

race
Amer-Indian-Eskimo      311
Asian-Pac-Islander     1039
Black                  3124
Other                   271
White                 27816
dtype: int64

In [5]:
# What is the average age of men?
(df.loc[df['sex'] == 'Male', 'age'].mean()).round(1)

39.4

In [6]:
# What is the percentage of people who have a Bachelor's degree?
(df['education'].value_counts()['Bachelors'] / df.shape[0] * 100).round(1)

16.4

In [7]:
df.education.unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [8]:
#higher_education
higher_education = ((df['education'] == 'Bachelors').sum() +
                      (df['education'] == 'Masters').sum() +
                      (df['education'] == 'Doctorate').sum())

In [9]:
#lower_education
lower_education = df.shape[0] - higher_education

In [10]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
((df.loc[df['salary'] == '>50K', 'education'].value_counts()['Bachelors'] + df.loc[df['salary'] == '>50K', 'education'].value_counts()['Masters'] + df.loc[df['salary'] == '>50K', 'education'].value_counts()['Doctorate']) / higher_education * 100).round(1)

46.5

In [11]:
# What percentage of people without advanced education make more than 50K? with and without `Bachelors`, `Masters`, or `Doctorate`
((df['salary'].value_counts()['>50K'] - (df.loc[df['salary'] == '>50K', 'education'].value_counts()['Bachelors'] + df.loc[df['salary'] == '>50K', 'education'].value_counts()['Masters'] + df.loc[df['salary'] == '>50K', 'education'].value_counts()['Doctorate'])) / lower_education * 100).round(1)

17.4

In [12]:
 # What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

In [13]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = ((df['hours-per-week'] == df['hours-per-week'].min()) & (df['salary'] == '>50K')).sum()
num_min_workers

2

In [14]:
rich_percentage = (num_min_workers / (df['hours-per-week'] == df['hours-per-week'].min()).sum() * 100).astype(int)
rich_percentage

10

In [15]:
# What country has the highest percentage of people that earn >50K?
highest_earning_country = None
highest_earning_country_percentage = None
highest_earning_country
highest_earning_country_percentage

In [19]:
df.pivot_table(columns=['native-country'], aggfunc='size')

native-country
?                               583
Cambodia                         19
Canada                          121
China                            75
Columbia                         59
Cuba                             95
Dominican-Republic               70
Ecuador                          28
El-Salvador                     106
England                          90
France                           29
Germany                         137
Greece                           29
Guatemala                        64
Haiti                            44
Holand-Netherlands                1
Honduras                         13
Hong                             20
Hungary                          13
India                           100
Iran                             43
Ireland                          24
Italy                            73
Jamaica                          81
Japan                            62
Laos                             18
Mexico                          643
Nicaragua                        34
Outlying-US(Guam-USVI-etc)       14
Peru                             31
Philippines                     198
Poland                           60
Portugal                         37
Puerto-Rico                     114
Scotland                         12
South                            80
Taiwan                           51
Thailand                         18
Trinadad&Tobago                  19
United-States                 29170
Vietnam                          67
Yugoslavia                       16
dtype: int64

In [ ]:
# Identify the most popular occupation for those who earn >50K in India.
op_IN_occupation = None

In [27]:
[df['salary'] == '>50K'].pivot_table(columns=['native-country', 'salary'], aggfunc='size')

AttributeError: 'list' object has no attribute 'pivot_table'